.cover-letter {
  width: 100%;

  * {
    font-family: 'Roboto', sans-serif;
    color: #000;
  }

  .app-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;

    .details-form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-field {
        width: 100%;
        .tone-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 12px;

          .tone-btn {
            padding: 15px 0;
            border-radius: 10px;
            border: 2px solid #dcdcdc;
            background: white;
            cursor: pointer;
            font-size: 14px;
            transition: 0.2s;
            width: 33%;

            &:hover {
              background: #f4f4f4;
            }
          }

          .tone-btn.active {
            border-color: var(--mat-sys-primary);
            background: var(--mat-sys-primary);
            color: #fff;
          }
        }

        .generate {
          width: 100%;
          padding: 14px 0;
          background: var(--mat-sys-primary);
          color: #fff;
          margin-top: 10px;
          border-radius: 8px;
          font-size: 16px;
          border: none;
        }
      }

      .job-description-field {
        textarea {
          min-height: 120px;
          resize: vertical;
        }
      }
    }
  }

  @media (max-width: 1400px) {
    .app-section {
      width: 80%;
    }
  }

  @media (max-width: 1024px) {
    .app-section {
      width: 90%;
      padding: 20px;
    }
  }
}
