.dashboard {
  .head {
    margin-bottom: 20px;
    text-align: left;

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      letter-spacing: normal;
    }

    .sub-title {
      font-size: 16px;
      color: #666;
      margin: 5px 0 0 0;
    }
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .stat {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      width: 24%;
      padding: 30px;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid #e4e4e4;

      .stat-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .stat-title {
          font-size: 1.2rem;
          font-weight: 500;
        }

        span {
          border-radius: 8px;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .applications-mat {
          color: #22c55e;
          background-color: #dcfce7;
        }

        .interviews-mat {
          color: #8b5cf6;
          background-color: #ede9fe;
        }

        .profile-mat {
          color: #f97316;
          background-color: #ffedd5;
        }
      }

      .stat-value {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .stat-value-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
}

.icon-blue {
  color: var(--mat-sys-primary);
  background-color: var(--mat-sys-primary-container);
}
@media (max-width: 1024px) {
  .dashboard {
    .stats {
      .stat {
        width: 48%;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard {
    .stats {
      flex-direction: column;
      .stat {
        width: 100%;
      }
    }

    .head {
      .title {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .dashboard {
    .head {
      .title {
        font-size: 1.2rem;
      }

      .sub-title {
        font-size: 14px;
      }
    }

    .stats {
      .stat {
        padding: 20px;
        gap: 1vh;
      }
    }
  }
}
