.dir-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  width: 100%;
  height: 80px;

  .app-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .additionalElems {
      display: flex;
      align-items: center;
    }
  }
}
