.app-section {
  .job-lists {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .job-list {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .job-list-name {
        font-size: 1rem;
        margin-bottom: 20px;
      }

      .job-card {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 1rem;
        transition: 0.25s ease;

        .job-title {
          font-size: 0.9rem;
          font-weight: 500;
        }

        .company-name {
          font-size: 0.85rem;
          color: var(--sub-text-color);
        }

        .application-date {
          font-size: 0.85rem;
          color: var(--sub-text-color);
        }
      }
    }
  }
}
