<div class="job-tracker container">
  <app-dir-name
    title="Job Application Tracker"
    [additionalElems]="htmlContent"
    (addJobClicked)="openAddJobModal()"
  ></app-dir-name>
  <div class="app-section">
    <div class="job-lists">
      <div class="applied job-list">
        <h4 class="job-list-name">Applied</h4>
        @for (job of jobs; track $index) { @if (job.status == "applied") {
        <div class="job-card">
          <h5 class="job-title">{{ job.title }}</h5>
          <p class="company-name">{{ job.company }}</p>
          <p class="application-date">Applied on: {{ job.dateApplied | date }}</p>
        </div>
        } }
      </div>
      <div class="interviewing job-list">
        <h4 class="job-list-name">Interviewing</h4>
        @for (job of jobs; track $index) { @if (job.status == "interviewing") {
        <div class="job-card">
          <h5 class="job-title">{{ job.title }}</h5>
          <p class="company-name">{{ job.company }}</p>
          <p class="application-date">Applied on: {{ job.dateApplied | date }}</p>
        </div>
        } }
      </div>
      <div class="offers job-list">
        <h4 class="job-list-name">Offers</h4>
        @for (job of jobs; track $index) { @if (job.status == "offered") {
        <div class="job-card">
          <h5 class="job-title">{{ job.title }}</h5>
          <p class="company-name">{{ job.company }}</p>
          <p class="application-date">Applied on: {{ job.dateApplied | date }}</p>
        </div>
        } }
      </div>
      <div class="rejected job-list">
        <h4 class="job-list-name">Rejected</h4>
        @for (job of jobs; track $index) { @if (job.status == "rejected") {
        <div class="job-card">
          <h5 class="job-title">{{ job.title }}</h5>
          <p class="company-name">{{ job.company }}</p>
          <p class="application-date">Applied on: {{ job.dateApplied | date }}</p>
        </div>
        } }
      </div>
    </div>
  </div>
  <!-- Add job modal instance (hidden until opened) -->
  <app-add-job-modal #addJobModal (jobAdded)="handleJobAdded($event)"></app-add-job-modal>
</div>
