<div class="job-tracker container">
  <app-dir-name
    title="Job Application Tracker"
    [additionalElems]="htmlContent"
    (additionalElemClicked)="openAddJobModal()"
  >
    <button class="add-job-btn" type="button" aria-label="Add Job" (click)="openAddJobModal()">
      <span class="btn-icon">+</span>
      Add Job
    </button></app-dir-name
  >
  <div class="app-section">
    <div class="applied-list container">
      <h2>Applied</h2>
      <div
        class="applied-items list"
        cdkDropList
        #appliedList="cdkDropList"
        [cdkDropListData]="appliedJobs"
        [cdkDropListConnectedTo]="[interviewingList, offerList, rejectedList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of appliedJobs; track $index) {
          <div class="applied job-item" cdkDrag>
            {{ job.title }}
          </div>
        }
      </div>
    </div>
    <div class="interviewing-list container">
      <h2>Interviewing</h2>
      <div
        class="interviewing-items list"
        cdkDropList
        #interviewingList="cdkDropList"
        [cdkDropListData]="interviewingJobs"
        [cdkDropListConnectedTo]="[appliedList, offerList, rejectedList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of interviewingJobs; track $index) {
          <div class="interviewing job-item" cdkDrag>
            {{ job.title }}
          </div>
        }
      </div>
    </div>
    <div class="offer-list container">
      <h2>Offer</h2>
      <div
        class="offer-items list"
        cdkDropList
        #offerList="cdkDropList"
        [cdkDropListData]="offerJobs"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[appliedList, interviewingList, rejectedList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of offerJobs; track $index) {
          <div class="offer job-item" cdkDrag>
            {{ job.title }}
          </div>
        }
      </div>
    </div>
    <div class="rejected-list container">
      <h2>Rejected</h2>
      <div
        class="rejected-items list"
        cdkDropList
        #rejectedList="cdkDropList"
        [cdkDropListData]="rejectedJobs"
        [cdkDropListConnectedTo]="[appliedList, interviewingList, offerList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of rejectedJobs; track $index) {
          <div class="rejected job-item" cdkDrag>
            {{ job.title }}
          </div>
        }
      </div>
    </div>
  </div>
  <!-- Add job modal instance (hidden until opened) -->
  <app-add-job-modal #addJobModal (jobAdded)="handleJobAdded($event)"></app-add-job-modal>
</div>
