.sidebar {
  width: 300px;
  background-color: #fff;
  height: 100vh;
  border-right: 1px solid #e0e0e0;

  .logo-container {
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container,
  .navigation {
    width: 80%;
    margin: 0 auto;
  }

  .navigation {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  li {
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 15px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 17px;
    * {
      color: #495057;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: color 0.3s ease;
    }

    &:hover {
      background-color: #e9f2ff;
      * {
        color: var(--mat-sys-primary) !important;
      }
    }
  }
}

.active {
  background-color: #d1e7fd;

  * {
    color: var(--mat-sys-primary) !important;
  }
}

.app-logo-short {
  display: none;
}

body.sidebar-open {
  overflow: hidden;
}

@media (max-width: 1100px) {
  .sidebar {
    width: 80px;

    .logo-container {
      padding: 16px 0;

      .app-logo {
        display: none;
      }

      .app-logo-short {
        display: block;
      }
    }

    .navigation,
    .logo-container {
      width: 100%;
    }

    .navigation {
      justify-content: center;
      align-items: center;
      li {
        justify-content: center;
        padding: 16px;
        height: 60px;

        .navigation-link {
          display: none;
        }

        span.material-symbols-outlined {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
}
