.logo {
    width: 50px;
    height: 50px;

    .lightning {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 40px;
        height: 40px;

        .lightning {
            font-size: 20px;
        }
    }
}