.footer {
  background-color: #0f172a;
  padding: 40px 0;
}

.wrapper {
  gap: 10px;
  color: #ffffff;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer * {
  box-sizing: border-box;
  color: #ffffff;
}
