.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  height: 75vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TEXT SECTION */
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 760px;

  .title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin: 0;

    .blue-text {
      color: var(--mat-sys-primary);
    }
  }

  .description {
    margin-top: 1rem;
    color: var(--sub-text-color);
    font-size: 1.2rem;
    line-height: 1.3;
    max-width: 700px;
  }

  .buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    
    .start-free {
      padding: 1.5rem;
      border-radius: 8px;
      font-weight: 500;
    }

    .see-plans {
      padding: 1.5rem;
      border-radius: 8px;
      font-weight: 500;
      border-color: #d1d5db;
    }
  }
}

/* IMAGE CARD EXACT LIKE SCREENSHOT */
.picture {
  width: 100%;
  max-width: 1100px;
  background: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 3rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  img {
    width: 100%;
    border-radius: 15px;
    display: block;
    object-fit: cover;
  }
}
