.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 100vh;

  .sidebar {
    height: 100%;
    flex-shrink: 0;
  }

  .main-content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }
}
