.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    & > .main-content {
        flex: 1;
    }

    .sidebar {
        height: 100vh;
    }
}