.resumes-list-wrapper {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-around;

  .viewport {
    height: 70vh; // or fixed px/calc(...)
    width: 100%;
  }
  .resume-card-wrapper {
    height: 200px; // must match itemSize
  }

  .resume-card {
    box-sizing: border-box;
  }
}
