@use '@angular/material' as mat;

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  .brand-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
