@use '@angular/material' as mat;

.login {
  height: 100%;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .custom-color-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: white,
        )
      );
    }
  }
}
