<div class="login">
  <div class="wrapper">
    <div class="content">
      <app-logo></app-logo>

      <header class="head">
        <h2 class="title">Welcome Back</h2>
        <p class="sub-title">Login to accelerate your career</p>
      </header>

      <mat-card class="card login-card">
        <form class="login-form form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-field full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              required
              formControlName="email"
              [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
              placeholder="you@example.com"
            />
            @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
            @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')) {
              <mat-error>Enter a valid email address</mat-error>
            }
          </div>

          <div class="form-field full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              required
              formControlName="password"
              [class.invalid]="
                loginForm.get('password')?.invalid && loginForm.get('password')?.touched
              "
              placeholder="••••••"
            />
            @if (
              loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')
            ) {
              <mat-error>Password is required</mat-error>
            }
          </div>

          <button mat-button color="primary" class="send-btn" type="submit">
            @if (status$ | async; as status) {
              @if (status === authStatus.Loading) {
                <mat-progress-spinner
                  diameter="24"
                  mode="indeterminate"
                  class="custom-color-spinner"
                  color="accent"
                ></mat-progress-spinner>
              } @else {
                Login
              }
            }
          </button>
        </form>

        @if (error$ | async; as error) {
          <div class="form-error">
            {{ error }}
          </div>
        }

        <p class="continue-with" style="text-align: center; margin: 16px 0">Or continue with</p>

        <div class="social-login" style="display: flex; gap: 12px; justify-content: center">
          <app-login-with-google-btn></app-login-with-google-btn>
          <button mat-anchor class="social-btn github-btn">
            <span class="material-symbols-outlined">code</span> Github
          </button>
        </div>

        <p class="signup" style="text-align: center; margin-top: 14px">
          Don't have an account? <a routerLink="/auth/signup">Sign up</a>
        </p>
        <p class="support-text">
          By using this app, you agree to our
          <a routerLink="/terms-of-service">Terms of Service</a>
          and
          <a routerLink="/privacy-policy">Privacy Policy</a>.
        </p>
      </mat-card>
    </div>
  </div>
</div>
