@use '@angular/material' as mat;

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  .logo {
    background-color: var(--mat-sys-primary);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .lightning {
      @include mat.icon-overrides(
        (
          color: #fff,
        )
      );
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
  }

  .brand-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
